.cover {
  background-image: url('https://images.indulgexpress.com/uploads/user/imagelibrary/2019/8/8/original/home_alone.jpg');;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.typed-js {
  min-height: 33.6px;
}